extends layout 

block content 
    h1 title 
    p Welcome to #{title}

    form(action="/new", method="post") 
        input(type="text", name="name", placeholder="Name")
        input(type="text", name="message", placeholder="Message")
        input(type="submit", value="Submit")
