extends layout

block content
  h1= title
  p Welcome to #{title}
  each post in messages
    p
      a(href="/post/" + post.added) #{post.name}
      span= ' - ' + post.text

  a(href="/new") New Post
